# Python Tutorial

Python frist program

In [1]:
print("hello program")

hello program

In [10]:
#  python ke sath os module  
import os
print('hi')

hi

In [6]:
print('''hi my name
is vicky kumar saini
i am from jaipur'''
)

hi my name
is vicky kumar saini
i am from jaipur

In [11]:
print(""" hi my name is 
vicky kumar 
saini """)

 hi my name is
vicky kumar
saini

# comments

In [12]:
#  2 type of comments
#  1 . Single line comments - written using #
#  2 . Multi-line comments – Written using ‘’’ Comment ‘’’ or “”” Comment “””.

# install extarnal module in python

In [1]:
# from playsound import playsound
# playsound('C:\\\\music\\\\song.mp3')

In [1]:
# Write a python program to print the contents of a directory using os module. Search online for the function which does that.

import os 

print (os.listdir())

['.ipynb_checkpoints', 'python beginners.ipynb']

#  variables

In [23]:
#  ==>    A variable is a name given to a memory location in a program.
#  ==>    Variable – Container to store a value
#         For example  :-
a = 4
b = 123
print(type(a))

<class 'int'>

# keywords

In [5]:
#    ==>   Reserved words in Python
#          like 
"""  False	await	else	import	pass
     None	break	except	in	raise
     True	class	finally	is	return
     and	continue	for	lambda	try
     as	def	from	nonlocal	while
     assert	del	global	not	with
     async	elif	if	or	yield  """

'  False\tawait\telse\timport\tpass\n     None\tbreak\texcept\tin\traise\n     True\tclass\tfinally\tis\treturn\n     and\tcontinue\tfor\tlambda\ttry\n     as\tdef\tfrom\tnonlocal\twhile\n     assert\tdel\tglobal\tnot\twith\n     async\telif\tif\tor\tyield  '

# Data types

In [7]:
#  ==>    two types of Data types 
#  1  premativ Datatype :-  this datatype is predefaine 
#         Exa :-  int , char , booleans ,string ,None ,floting number
#  2  nonpremativ Datatype :-  this datatype is userdifaine
#         Exa :-  list ,tuple ,dic

In [ ]:
#  Python is a fantastic language that automatically identifies the type of data for us.

In [8]:
a = "vicky"
b = ''' vicky
kumar
saini '''
c = 123
d = 12.55
e = True
f = None

print(a,b,c,d,e,f)

vicky  vicky
kumar
saini  123 12.55 True None

In [10]:
# printing the type of variables

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))
print (type(f))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# Rules for defining a variable name:

In [11]:
''' *  A variable name can contain alphabets, digits, and underscore.
    *  A variable name can only start with an alphabet and underscore.
    *  A variable can’t start with a digit.
    *  No white space is allowed to be used inside a variable name.
    *  variable case sencitiv hota                                     '''

' *  A variable name can contain alphabets, digits, and underscore.\n    *  A variable name can only start with an alphabet and underscore.\n    *  A variable can’t start with a digit.\n    *  No white space is allowed to be used inside a variable name.  '

In [28]:
#  variable case sencitiv hota hai

# Exa :-  
    
a = 10
A = 20

print(a)

# this is not same variables 

print (A)

10
20

# Operators in Python

In [14]:
#  The following are some common operators in Python:

# Arithmetic Operators (+, -, *, /, etc.)
# Assignment Operators (=, +=, -=, etc.)
# Comparison Operators (==, >=, <=, >, <, !=, etc.)
# Logical Operators (and, or, not)

In [16]:
# Arithmetic Operators

print ("the vlue of 2 + 6 :- " , 2 + 6)
print ("the vlue of 2 - 6 :- " , 2 - 6)
print ("the vlue of 2 * 6 :- " , 2 * 6)
print ("the vlue of 2 / 6 :- " , 2 / 6)

the vlue of 2 + 6 :-  8
the vlue of 2 - 6 :-  -4
the vlue of 2 * 6 :-  12
the vlue of 2 / 6 :-  0.3333333333333333

In [44]:
# Assignment Operators 

a = 20
print(a)

a += 10
print(a)

a -= 5
print(a)

20
30
25

In [55]:
# Comparison Operators

a = 5
#b = 4
#print(b)
#b = (15 < 4)
#b = (15 > 4)
#b = (15 <= 20)
# b = (15 >= 4)
#b = (15 == 4)
print(b)

True

In [70]:
# Logical Operators

bool1 = True
bool2 = False
#print ("the vlue of bool1 and bool2 is",(bool1 and bool2))
#print ("the vlue of bool1 or bool2 is",(bool1 or bool2))
print ("the vlue of not bool2 is",(not bool2))

the vlue of not bool2 is True

# type casting

In [13]:
# A number can be converted into a string and vice versa (if possible)
# There are many functions to convert one data type into another.

#                      or

#  typecasting using in a datatype to convert another datatype 


a = '1234'
#print (a+6)
#print (type(a))
#print (a)

# using typecasting 
a = int(a)
print(type(a+6))
print(a+6)

<class 'int'>
1240

# input() function

In [48]:
# This function allows the user to take input from the keyboard as a string.

# Exa :-  a = input("enter name") 

#  NOTE :-    The output of the input function is always a string even if the number is entered by the user.

#             Suppose if a user enters 34, then this 34 will automatically convert to “34” string literal.

In [17]:
#a = input("Enter name ")
#print(a)
#print(type(a))

#  ese hi 

b = input("enter number")
b = int(b)  #  convorte datatype 
print(type(b))
print(b)

enter number45
<class 'int'>
45

# questions Practice Set

In [ ]:
# 1   Write a Python program to add two numbers.
# 2   Write a Python program to find the remainder when a number is divided by Z(Integer).
# 3   Check the type of the variable assigned using the input() function.
# 4   Use a comparison operator to find out whether a given variable a is greater than b or not. (Take a=34 and b=80)
# 5   Write a Python program to find the average of two numbers entered by the user.
# 6   Write a Python program to calculate the square of a number entered by the user.

In [3]:
#   1 Ans.

a = 45
b = 5
c = a + b
print ("add two numbers  :- ", c )

#     or

a = input("enter frist number :-" )  #  this is not add number becuse two string number add 
b = input("enter second number :-")
c = a+b 
print(type(c))
print(c)

add two numbers  :-  50
enter frist number :-1
enter second number :-1
<class 'str'>
11

In [5]:
#  2 Ans .

a = 2
b = 10
print("the remainder a divided by b ", b%a )

the remainder a divided by b  0

In [7]:
# 3 Ans.
a = input("enter the input ")
print(a)
print(type(a))

enter the input v
v
<class 'str'>

In [10]:
# 4 Ans.

a = 34
b = 80
c = a > b
print(c)

False

In [14]:
# 5 Ans.

a = input ("Enter frist number")
b = input ("Enter second number")
a = int(a)                       # convert datatype str to int
b = int(b)
ave = (a + b)/2                  
print ("the average of a and b is",ave)

Enter frist number5
Enter second number5
the average of a and b is 5.0

In [2]:
# 6 Ans.


a = input("Enter number")
a = int(a)
b = 2
sque = a * b
print("squer a is :" , sque)

Enter number5
squer a is : 10

# Lambda Function

A lambda function is a small anonymous function

a lambda function can take any number argument but only have one exprission

In [35]:
# Exa :-

x = lambda a ,b: a + b
print(x(6,8))

14

More then argument

In [16]:
z = lambda a,b,c : a+b-c
print(z(5,10,20))

-5

Defult argument

In [23]:
y = lambda x,y,z = 10 : x+y+z
print(y(2,3))

15

In [36]:
str1 ="hi i am vicky"
 
# lambda gets pass to print
(lambda x : print(x))(str1)

hi i am vicky

# List comrehanson

In [38]:
list1=[1,2,3,4,5,6,7]

list2=[]
for el in list1:
    if el%2==0:
        list2.append(el+2)
list2

[3, 4, 5, 6, 7, 8, 9]

In [48]:
#list3=[expression for el in list  if condition]
list3=[el for el in list1 if el%2!=0]
list3

[1, 3, 5, 7]

In [ ]:
# with lambda

In [46]:
list4=[(lambda x :x*7)(el) for el in list1]
list4

[7, 14, 21, 28, 35, 42, 49]

In [47]:
# tables = [lambda x=x: x*10 for  in range(1, 11)]
 
# for table in tables:
#     print(table())

# Filter ()

The filter () function return an itrator where the item are filtered through a function to test 
if the item accepted or not

In [13]:
list1 = [32,90,42,60,4,9,12]
def func1(s):
    if s > 18:
        return True
    else:
        return False
result = set(filter(func1,list1))
print(result)
for i in result:
     print(i)

{32, 90, 42, 60}
32
90
42
60

Filter() with lambda

In [14]:
list2 = [32,90,42,60,4,9,12]
result = list(filter(lambda a: a > 18 ,list2))
print(result)
for i in result:
    print(i)

[32, 90, 42, 60]
32
90
42
60

In [20]:
list3 = [3,52,2,9,6,33,26,4,90]
def even(x):
    if x%2==0:
        return True
    else:
        return False
result = (filter(even,list3))
print(result)
for item in result:
    print(item)

<filter object at 0x05ED58E0>
52
2
6
26
4
90

With lambda

In [23]:
list3 = [3,52,2,9,6,33,26,4,90]

odd = list(filter(lambda a : a%2 !=0,list3))
print(odd)
for ele in odd:
    print(ele)

[3, 9, 33]
3
9
33

# MAP()

What is map () function in python

Map. Where func is the function on which each element in 
iterables (as many as they are) would be applied on.

In [1]:
def starts_with_A(s):
    return s +"_n"

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(starts_with_A, fruit)

print(list(map_object))

['Apple_n', 'Banana_n', 'Pear_n', 'Apricot_n', 'Orange_n']

In [2]:
#  MAP ()
list11 = [1,2,3,4,5,6,7,8,9]
def cal (f):
    rev = f ** 2
    return rev
    
result = map(cal,list11)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# filter and map

list12 = [90,33,12,77,5,88,39,20,67,11,92]
re_filter = list(filter(lambda a : a%2==0,list12))
re_map = list(map(lambda cal: cal ** 2,re_filter))
print(re_map)

[90, 12, 88, 20, 92]
[8100, 144, 7744, 400, 8464]

# Reduce()

Python reduce() function is used to reduce a sequence of elements to a single value by processing the elements according to a function provided. It returns a single value.

This function is a part of functools module so you need to import it before you can use it.

In [27]:
#Max element find karna 

from functools import reduce
def maxvalue(a,b):
    if a>b:
        return a
    else:
        return b
list21 = [23,76,90,12,43,56,4]
find_result = reduce(maxvalue,list21)
print(find_result)

90

In [28]:
#Max element find karna with lambda
from functools import reduce
list22 = [89,3,97,2,23,86,12]
max_value1 = reduce(lambda a,b:a if a>b else b,list22)
print(max_value1)

97

In [32]:
def add (num):
    result = 0
    for ele in num:
        result += ele
    return result
add([2,3,4,6,7])

22

In [33]:
# using reduce function 

def add1(num1,num2):
    return num1 + num2

result1 = reduce(add1,[1,5,2,6,8,4,2,5,7,8])
print(result1)

48

In [34]:
result2 = reduce(lambda a,b:a+b,[3,6,9,4,2,3,5,8,4,3,6,7])
print(result2)

60

# String

In [35]:
# ==>   The string is a data type in Python.

# ==>   A string is a sequence of characters enclosed in quotes.

'''
We can primarily write a string in three ways:

Single quoted strings : a = ‘vicky’
Double quoted strings : b = “vicky”
Triple quoted strings : c = ‘’’ vicky ‘’’

'''

a = ' hi vicky '
print (a)
print (type(a))

b = " jaipur's "
print(b)

c = ''' hi i am 
        vicky '''
print(c)


# string indexing 

a = "vicky"
print(a[2])

# concative  two strings

grating = " good morning "
name = " vicky "
con = grating + name
print(con)

 hi vicky
<class 'str'>
 jaipur's
 hi i am
        vicky
c
 good morning  vicky

# String Slicing

In [2]:
# A string in Python can be sliced for getting a part of the string.

name = "vicky"

print(name[0:4])
print(name[0:])
# nagative index 
a = name[-4:-1]
print(a)

vick
vicky
ick

# Slicing with skip value

In [32]:
#  ==>  We can provide a skip value as a part of our slice like this:

name = "vicky is good boy"
print(name[0::2])

vcyi odby

# String Functions

In [35]:
# ==>  len() function : It returns the length of the string.

story = "hi my name is raghav i am from bengluru"
length = len(story)
print(length)

39

In [4]:
# ==> endswith(“rry”) : This function tells whether the variable string ends with the string “rry” or not. If string is “harry”,
#                   it returns for “rry” since harry ends with rry.
#                                   or

#                  yani is string ka last ( word / carectore / space )any  se end ho rhi hai     


story = "hi my name is raghav i am from bengluru but"
#story.endswith("but")
print(story.endswith("but"))

True

In [1]:
# ==> count(“c”) : It counts the total number of occurrences of any character.

story = "hi my name is raghav i am from bengluru but"
story.count("am")
#print(story.count("a"))

2

In [45]:
# ==> capitalize() : This function capitalizes the first character of a given string.

#                    yeh function string ke frist word ko capital kar deta hai

story = "hi my name is raghav i am from bengluru but"
print(story.capitalize())

Hi my name is raghav i am from bengluru but

In [12]:
data1 = "i am a good man "
for ii in data1:
    if " " in ii:
        print(ii)
    else:
        print(ii.capitalize())

I

A
M

A

G
O
O
D

M
A
N

In [53]:
#  ==>  find(word) : This function finds a word and returns the index of first occurrence of that word in the string.

story = "hi my name is raghav i am from bengluru but"
print(story.find("name"))

6

In [55]:
#  ==>  replace(oldword, newword) : This function replaces the old word with the new word in the entire string.

story = "hi my name is raghav i am from bengluru but"
print(story.replace("name","names"))

hi my names is raghav i am from bengluru but

# Escape Sequence Characters:

In [1]:
# Sequence of characters after backslash ‘\’ [Escape Sequence Characters]

# Escape Sequence Characters comprises of more than one character but represents one character when used within the string.

# Examples: \n (new line), \t (tab), \’ (single quote), \\ (backslash), etc.

story = "hi my name is raghav\n i am from bengluru\tbut currenl\'y living jaipurra\\jasthan"
print(story)

hi my name is raghav
 i am from bengluru	but currenl'y living jaipurra\jasthan

# questions Practice

In [3]:
# Q. 1   Write a Python program to display a user-entered name followed by Good Afternoon using input() function.
# Q. 2   Write a program to fill in a letter template given below with name and date.
#        letter = ‘’’ Dear <|NAME|>,

#                       You are selected!

#                       <|DATE|>


# Q. 3   Write a program to detect double spaces in a string.
# Q. 4   Replace the double spaces from problem 3 with single spaces.
# Q. 5   Write a program to format the following letter using escape sequence characters.

#        letter = “Dear vicky, This Python course in nice. Thanks!!”

In [11]:
#  Ans .1

name = input("Enter name \n")
print("good Afternoon "+name)

Enter name
vicky
good Afternoon vicky

In [16]:
# Ans .2 

letter = ''' Dear <|NAME|>,
              You are selected!
              <|DATE|>
          '''
name = input("Enter your name")
date = input("Enter your date")

letter = letter.replace("<|NAME|>", name )
letter = letter.replace("<|DATE|>" , date)

print(letter)

Enter your namevicky kumar
Enter your date15 Jun
 Dear vicky kumar,
              You are selected!
              15 Jun

In [19]:
#  Ans .3

str1 = "Hi My Name is Vicky Kumar  "
print(str1.find("  "))

25

In [25]:
# Ans .4 

str1 = "Hi  My Name is  Vicky Kumar"
str1 = str1.replace(" ","   ")
print(str1)

Hi      My   Name   is      Vicky   Kumar

In [30]:
# Ans .5

letter = "Dear vicky kumar\n\t This Python course in nice.\nThanks!!"
print(letter)

Dear vicky kumar
	 This Python course in nice.
Thanks!!

# Lists in python

In [25]:
#  ==>  Python Lists are containers to store a set of values of any data type.
#  ==>  The list can contain different types of elements such as int, float, string, Boolean, etc.
#       Above list is a collection of different types of elements.

list1 = ["vicky" , 123 , 45 , 123.99 , True ]
print(list1)

list1[1]=2    #  list is muteble 
print(list1)

['vicky', 123, 45, 123.99, True]
['vicky', 2, 45, 123.99, True]

In [29]:
#  List Indexing

list1 = ["hi" , 12 ,23.4 , False , "vicky"]
print(list1[0])
print(list1[-2])

hi
False

In [32]:
#   list slicing 

list1 = ["hi" , 12 ,23.4 , False , "vicky"]

print(list1[0:1])
print(list1[-4:-2])
print(list1[0:])

['hi']
[12, 23.4]
['hi', 12, 23.4, False, 'vicky']

# List Methods

In [34]:
# sort() – updates the list to  [1,2,7,8,15,21]

list1 = [1,4,9,5,0,3,45,87,23,34]
vs = list1.sort()                # this is not allwod
print(vs)

list1.sort()
print(list1)

None
[0, 1, 3, 4, 5, 9, 23, 34, 45, 87]

In [35]:
# reverse() – updates the list to [15,21,2,7,8,1]

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.reverse()
print(list1)

[34, 23, 87, 45, 3, 0, 5, 9, 4, 1]

In [36]:
# append(8) – adds 8 at the end of the list

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.append(55)
print(list1)

[1, 4, 9, 5, 0, 3, 45, 87, 23, 34, 55]

In [37]:
# insert(3,8) – This will add 8 at 3 index

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.insert(2,95)   # isme 2 index hai or 95 value
print(list1)

[1, 4, 95, 9, 5, 0, 3, 45, 87, 23, 34]

In [39]:
#  pop(2) – It will delete the element at index 2 and return its value

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.pop(2)  #  1 index ke element ko delete karna ke bad ki list 
print(list1)

[1, 4, 5, 0, 3, 45, 87, 23, 34]

In [41]:
# remove(21) – It will remove 21 from the last

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.remove(45)  # delete number of 9 value 
print(list1)

[1, 4, 9, 5, 0, 3, 87, 23, 34]

In [ ]:
#  Thank you

#  Tuples in Python:

In [15]:
# ==>  A tuple is an immutable (can’t change or modified) data type in Python
# ==>  Once defined, tuple elements can’t be manipulated or altered.

tuple1 = ()#   empty tuple
# print(tuple1)

tuple1 = (1,)  # tuple with singale element
#print(tuple1)

tuple2 = (1,7,3,56,2,98,0,45)
# print(type(tuple2))
# print(tuple2)

# this is immutable

s=tuple2[0]
print(s)

1

In [61]:
# count(1) – It will return the number of times 1 occurs in a.

tuple2 = (1,7,3,56,2,98,0,45,3,1,1,3,3,3)
vs=tuple2.count(3)
print(vs)

5

In [21]:
# index(1) – It will return the index of the first occurrence of 1 in a.

tuple2 = (1,7,3,56,2,98,0,45,3,1,1,3,3,3)
vs = tuple2.index(5)
print(vs)

ValueError: tuple.index(x): x not in tuple

#  Practice

In [1]:
# ==> 1.  Write a program to store seven fruits in a list entered by the user.
# ==> 2.  Write a program to accept the marks of 6 students and display them in a sorted manner.
# ==> 3.  Check that a tuple cannot be changed in Python.
# ==> 4.  Write a program to sum a list with 4 numbers.
# ==> 5.  Write a program to count the number of zeros in the following tuple:
#         tuple1 = (12,44,0,4,8,9,5,76,0,234,0,23,11,0)

In [5]:
# Ans. 1 

fruits = []
fruit_name = input("Enter fruits name")

fruits.append(fruit_name)
print(fruits)

Enter fruits namevicky
['vicky']

In [7]:
# Ans. 2

marks = [85.00 , 55.90 ,76 , 66.83 , 51.99 ,69.00]
marks.sort()
print(marks)

[51.99, 55.9, 66.83, 69.0, 76, 85.0]

In [9]:
# Ans. 3

tuple1 = (25 ,"vicky" , 40.55,34,"ravi")
tuple1[2]=66
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [29]:
# Ans. 4

list1 = [15 ,5 , 25 , 90]
print(list1[0]+list1[1]+list1[2]+list1[3])

print(Sum(list1))

135

NameError: name 'Sum' is not defined

In [32]:
# Ans. 5

tuple1 = (12,44,0,4,8,9,5,76,0,234,0,23,11,0)
count_numbers = tuple1.count(0)
print(count_numbers)

4

# Dictionary in python

In [2]:
#  ==>  Dictionary is a collection of key-value pairs.

dic = {"name":"vicky","no":98402948}
print(type(dic))
print(dic)


# nested dict

#dic = {"name":["vicky","ram","lalaji"],"nu":{95:"vs","deepk":"kumar",{90:44}}}
#print(dic)
#print(dic["name"])
#print(dic["nu"])

mydict = {"id":1234,"automation":["apple",123],"name":{"furit":"banana",}}
print(mydict['name']['furit'])

<class 'dict'>
{'name': 'vicky', 'no': 98402948}
banana

# Accessing dict items

In [12]:
dict54 = {"id":33,"name":"ram"}
print(dict54["id"])

33

In [13]:
print(dict54)

{'id': 33, 'name': 'ram'}

In [14]:
# use accessing get() function

rev = dict54.get("id")
print(rev)

33

In [16]:
#  use accessing keys() function

revv = dict54.keys()
print(revv)

dict_keys(['id', 'name'])

In [17]:
# use accessing values() function

res = dict54.values()
print(res)

dict_values([33, 'ram'])

In [18]:
# change the value then check it

print(dict54) #  before change dict

dict54["phone"]="realme"

print(dict54.values())

{'id': 33, 'name': 'ram'}
dict_values([33, 'ram', 'realme'])

In [19]:
# use accessing items() function

data = dict54.items()
print(data)

dict_items([('id', 33), ('name', 'ram'), ('phone', 'realme')])

In [20]:
# check exists key in dict

if "id" in dict54:
    print("yes this is key exists in the dict")

yes this is key exists in the dict

# Change   &  Add Dict items

In [26]:
# key se 

dict45 = {"id":132,"name":"vicky","address":"jaipur","pin_code":974985}
dict45["name"]="ram"
dict45

{'id': 132, 'name': 'ram', 'address': 'jaipur', 'pin_code': 974985}

In [27]:
#  update method

dict45.update({"name":"kartoos"})
dict45

{'id': 132, 'name': 'kartoos', 'address': 'jaipur', 'pin_code': 974985}

In [14]:
dict45.update({"phone":2345625678})
dict45

{'id': 132,
 'name': 'kartoos',
 'address': 'jaipur',
 'pin_code': 974985,
 'phone': 2345625678}

# Rmove items Dict

In [15]:
#  use  pop() function 

dict45.pop("phone")
dict45

{'id': 132, 'name': 'kartoos', 'address': 'jaipur', 'pin_code': 974985}

In [17]:
# use it popitem() function

dict45.popitem()
dict45

{'id': 132, 'name': 'kartoos', 'address': 'jaipur'}

In [29]:
# use it del() function

del dict45["address"]
dict45

{'id': 132, 'name': 'kartoos', 'pin_code': 974985}

In [30]:
# use it clear() function

dict45.clear()
dict45

{}

# Properties of Python Dictionaries

In [36]:
# 1 .  It is unordered
# 2 .  It is mutable
# 3 .  It is indexed
# 4 .  It cannot contain duplicate keys

In [3]:
# duplicate key

dict54 = {"name":"vicky","id":33,"name":"ram"}
print(dict54)

{'name': 'ram', 'id': 33}

In [4]:
# list add karna 

dict323 = {"name":"vicky","names":"raj"}
dict323["names"]=["ram","sita","hanuman"]
dict323

{'name': 'vicky', 'names': ['ram', 'sita', 'hanuman']}

In [12]:
mydict2 = {"id":23,"name":"vicky"}
mydict2['id']=45,56
print(mydict2)
print(type(mydict2))

{'id': (45, 56), 'name': 'vicky'}
<class 'dict'>

In [1]:
mydict2 = {"id":23,"name":"vicky","id":4321} #  duplicat keys
print(mydict2['id'])

4321

# Dict Methods

clear()	   =   Removes all the elements from the dictionary
copy()	   =   Returns a copy of the dictionary
fromkeys() =   Returns a dictionary with the specified keys and value
get()	   =   Returns the value of the specified key
items()    =   Returns a list containing a tuple for each key value pair
keys()     =   Returns a list containing the dictionary's keys
pop()	   =   Removes the element with the specified key
popitem()  =  Removes the last inserted key-value pair
setdefault()= Returns the value of the specified key. If the key does not exist: insert the  key,               with the specified value
update()   =  Updates the dictionary with the specified key-value pairs
values()   =  Returns a list of all the values in the dictionary

In [48]:
# use fromkeys() 

v = ("dffg",344)
f = 0

dic = dict.fromkeys(v,f)
dic

{'dffg': 0, 344: 0}

In [ ]:
# use setdefault()

In [5]:
mydict2 = {"id":23,"name":"vicky","id":4321}
print(mydict2.keys())
print(type(mydict2.keys()))     #  prints the keys of the dictionary


print(mydict2.values())
print(type(mydict2.values()))     #  prints the values of the dictionary

dict_keys(['id', 'name'])
<class 'dict_keys'>
dict_values([4321, 'vicky'])
<class 'dict_values'>

2 list ko dict me convert karna

In [10]:
list44 = ['name','contact','email']
list434 = ["vicky",567890,"vicky15@gmail.com"]
rs = {}
for iu in list44:
    for iuu in list434:
        rs[iu]=iuu
        list434.remove(iuu)
        break
print(rs)

{'name': 'vicky', 'contact': 567890, 'email': 'vicky15@gmail.com'}

In [11]:
test_keys = ["Rash", "Kil", "Varsha"]
test_values = [1, 4, 5]
  

res = {test_keys[i]: test_values[i] for i in range(len(test_keys))}
  
# Printing resultant dictionary 
print ("Resultant dictionary is : " +  str(res))

Resultant dictionary is : {'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [7]:
dict121 = {'fff':"fdffd",455:555,"name":"vicky"}
dict121.pop('name')
dict121

{'fff': 'fdffd', 455: 555}

# Dict loop

In [31]:
dict98 = {"id":90,"name":"babaBoss","phone":449876543456,"address":"jaipur"}
for dic in dict98:
    print(dic)

id
name
phone
address

In [35]:
for dic1,dic2 in dict98.items():
    print(dic1,dic2)

id 90
name babaBoss
phone 449876543456
address jaipur

In [38]:
for dic3 in dict98.keys():
    print(dic3)

id
name
phone
address

In [39]:
for dic4 in dict98.values():
    print(dic4)

90
babaBoss
449876543456
jaipur

# Copy dict

In [40]:
# use copy() function

new_dic = dict98.copy()
print(new_dic)

{'id': 90, 'name': 'babaBoss', 'phone': 449876543456, 'address': 'jaipur'}

In [41]:
#  use dict() function

new_dic1 = dict(dict98)
print(new_dic1)

{'id': 90, 'name': 'babaBoss', 'phone': 449876543456, 'address': 'jaipur'}

#   Tuples in Python

Q. What is tuple

ANS. * Tuple is a collection of multiple data .
       store  data 
     * tuple is imutables mins not modify tuple .
     * tuple are represent () 
     * tuple are orderd formate

In [1]:
tuple1 = (123,958.44,"vicky",True,33333,None)
print(tuple1)

(123, 958.44, 'vicky', True, 33333, None)

In [2]:
print(type(tuple1))

<class 'tuple'>

* tuple items ordered,unchangeble and index items

# Tuple length

In [14]:
tuples = ("vicky","id",4444,"ccccc",None,9494,"ram")

print(len(tuples))

7

In [4]:
ruslt = 0
for i in tuples:
    ruslt += 1
print(ruslt)

7

# Create Tuple With One Item

In [5]:
tuple2 = ("vicky")
print(type(tuple2))

<class 'str'>

In [6]:
tuple3 = ("vicky",)
print(type(tuple3))

<class 'tuple'>

# Tuple constractor

In [7]:
tuple()

()

This is constractor use convert tuple typed

In [9]:
list23 = tuple(["jfjfj",789])
print(type(list23))
print(list23)

<class 'tuple'>
('jfjfj', 789)

In [11]:
dict121 = tuple({"id":799,"name":"vicky"})
print(type(dict121))
print(dict121)

<class 'tuple'>
('id', 'name')

In [13]:
for key in dict121:
    print(key)
    print(type(key))

id
<class 'str'>
name
<class 'str'>

# Access Tuple Items

In [23]:
tuples = ("vicky","id",4444,"ccccc",9494,"ram")

print(tuples[0])

vicky

In [16]:
print(tuples[1:4])

('id', 4444, 'ccccc')

In [17]:
print(tuples[:3])

('vicky', 'id', 4444)

In [18]:
print(tuples[1:])

('id', 4444, 'ccccc', 9494, 'ram')

In [19]:
print(tuples[1:1])

()

Negative indexing

In [35]:
print(tuples[-1])

ram

In [45]:
print(tuples[-4:-1])

(4444, 'ccccc', 9494)

# Update Tuple items

*

In [49]:
tuples = ("vicky","id",4444,"ccccc",9494,"ram")
newitem = 95859

In [50]:
list3233 = list(tuples)
list3233.append(newitem)
tuples = tuple(list3233)

In [51]:
print(type(tuples))

<class 'tuple'>

In [52]:
print(tuples)

('vicky', 'id', 4444, 'ccccc', 9494, 'ram', 95859)

*

In [54]:
tuples1 = ("vicky","id",4444,"ccccc",9494,"ram")

In [55]:
y = list(tuples1)
y[3] = "robo"
tuples1 = tuple(y)
print(tuples1)

('vicky', 'id', 4444, 'robo', 9494, 'ram')

Add tuple to a tuple.

In [57]:
tuples1 = ("vicky","id",4444,"ccccc",9494,"ram")

tuple2 = ("namkin",)

tuples1 += tuple2

In [58]:
print(tuples1)

('vicky', 'id', 4444, 'ccccc', 9494, 'ram', 'namkin')

In [59]:
tuple3 = ("lala",8948)
tuples1 += tuple3

In [60]:
print(tuples1)

('vicky', 'id', 4444, 'ccccc', 9494, 'ram', 'namkin', 'lala', 8948)

# Remove Tuple items

In [61]:
tuples1 = ("vicky","id",4444,"ccccc",9494,"ram")

In [62]:
list453 = list(tuples1)
list453.remove("id")
tuples1 = tuple(list453)
print(tuples1)

('vicky', 4444, 'ccccc', 9494, 'ram')

# Pack, Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [63]:
tuple21 = ("id",12,"name","vicky",98765432)  #   this is packing tuple

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [65]:
tuple21 = (12,"vicky",98765432)
(id, name,phone) = tuple21          #   this is a unpacking

print(id)
print(name)
print(phone)

12
vicky
98765432

# Using Asterisk *

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [66]:
tuple212 = (12,"vicky",98765432,"ram","kam",654,"orange")
(idse,name, *phone) = tuple212
print(idse)
print(name)
print(phone)

12
vicky
[98765432, 'ram', 'kam', 654, 'orange']

# Loop Tuples

In [68]:
tuple23 = (12,"vicky",98765432,"ram","kam",654,"orange")

for ele4 in tuple23:
    print(ele4)

12
vicky
98765432
ram
kam
654
orange

Using indexing number

In [72]:
# useing for loop

tuple212 = (12,"vicky",98765432,"ram","kam",654,"orange")
for element in range(len(tuple212)):
    print(tuple212[element])

12
vicky
98765432
ram
kam
654
orange

In [73]:
# useing while loop


tuple212 = (12,"vicky",98765432,"ram","kam",654,"orange")

i = 0 

while i < len(tuple212):
    print(tuple212[i])
    i = i + 1

12
vicky
98765432
ram
kam
654
orange

# Join Two Tuples

In [74]:
tuple212 = (12,"vicky",98765432,"ram","kam",654,"orange")
tuple213 = ("name",4567,"gova")

tuple90 = tuple212 + tuple213
print(tuple90)

(12, 'vicky', 98765432, 'ram', 'kam', 654, 'orange', 'name', 4567, 'gova')

In [75]:
# multipale join tuple

tuple34 = tuple213 * 2
tuple34

('name', 4567, 'gova', 'name', 4567, 'gova')

# Tuple Methods

Python has two built-in methods that you can use on tuples.


count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [82]:
tuple54 = (5,7,4,2,5,7,4,4,9,7,3,44,2,5)
result = tuple54.count(5)
print(result)

3

In [83]:
tuple55 = (5,7,4,2,5,7,4,4,9,7,3,44,2,5)
rev = tuple55.index(5)
print(rev)

0

In [ ]:
e

# Set in Python

A set is a collection which is unordered, unchangeable*, and unindexed.
Duplicate values will be ignored:

* Note: Set items are unchangeable, but you can remove items and add new items.


set are represent currly bracketes

In [2]:
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [7]:
# Duplicate values will be ignored:

set2 = {1,2,1,3,4,5,4,6,4}
print(set2)
print(type(set2))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [8]:
# length of set

length = len(set2)
print(length)

6

In [11]:
# a set contain any data type 

set3 = {1,2,True,33.23,"vicky",None}
print(set3)

{1, 2, None, 'vicky', 33.23}

In [14]:
#   The set() Constructor

set4 = set((566,"vicky",22.22,True))
print(set4)
print(type(set4))

{22.22, True, 'vicky', 566}
<class 'set'>

# Access Items

In [15]:
set5 = {22.22, True, 'vicky', 566}
for ele in set5:
    print(ele)

22.22
True
vicky
566

In [18]:
print(22.22 in set5)

True

change items

Once a set is created, you cannot change its items, but you can add new items.

# Add Set Items

In [21]:
# do use it add()

set6 = {"vicky",1,3,22.43,True}
set6.add("ram")
print(set6)

{1, 3, 'ram', 22.43, 'vicky'}

In [22]:
# do use it update()

set7 = {"vicky",1,3,22.43,True}
set77 = {1,3,99999,"sdfghjkl"}

set7.update(set77)
print(set7)

{1, 3, 22.43, 'vicky', 'sdfghjkl', 99999}

In [24]:
# Add Any Iterable

set8 = {"vicky",1,3,22.43,True}
list1 = ["i","am",5,"kumar",33.33]
set8.update(list1)
print(set8)

{1, 'i', 3, 5, 33.33, 22.43, 'kumar', 'am', 'vicky'}

# Remove Item

In [25]:
# do use it remove() , discard()

set9 = {"vicky",1,3,22.43,True}
set9.remove(True)
print(set9)

{3, 'vicky', 22.43}

In [29]:
# do use it discard()

set10 = {"vicky",1,3,22.43,True}
set10.discard("vicky")
print(set10)

{3, 1, 22.43}

In [30]:
# Remove the last item by using the pop() method:

set11 = {"vicky",1,3,22.43,True}
item = set11.pop()
print(item)
print(set11)

3
{1, 'vicky', 22.43}

In [32]:
# The clear() method empties the set:

set12 = {"vicky",1,3,22.43,True}
items = set12.clear()
print(items)
print(set12)

None
set()

In [1]:
# The del keyword will delete the set completely:

set13 = {"vicky",1,3,22.43,True}
del set13
print(set13)

NameError: name 'set13' is not defined

# Join Two Sets

In [36]:
# Note: Both union() and update() will exclude any duplicate items.

# do use it union()


set14 = {1,3,4,8,9,0,6,5,3}
set1414 = {"vicky","i","am"}

set14.union(set1414)

{0, 1, 3, 4, 5, 6, 8, 9, 'am', 'i', 'vicky'}

In [38]:
# do use it update()


set15 = {1,3,4,8,9,0,6,5,3}
set1515 = {"vicky","i","am"}

set15.update(set1515)
print(set15)

{0, 1, 'i', 3, 4, 5, 6, 8, 9, 'am', 'vicky'}

Method	                      Description


add()	                Adds an element to the set
clear()	                Removes all the elements from the set
copy()	                Returns a copy of the set
difference()	        Returns a set containing the difference between two or more sets
difference_update()	    Removes the items in this set that are also included in another, specified set
discard()	            Remove the specified item
intersection()	        Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	        Returns whether two sets have a intersection or not
issubset()	            Returns whether another set contains this set or not
issuperset()	        Returns whether this set contains another set or not
pop()	                Removes an element from the set
remove()	            Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	                Return a set containing the union of sets
update()	            Update the set with the union of this set and others

# Python Date Time

==>    A date in Python is not a data type of its own,
       but we can import a module named datetime to work with dates as date objects.

In [2]:
import datetime

x = datetime.datetime.now()
print(x)

2022-09-15 14:04:11.863819

In [6]:
# create a object

x1  = datetime.datetime(2022, 4, 25)
print(x1)

2022-04-25 00:00:00

In [9]:
# what is current year so use it 

x2 = datetime.datetime.now()
print(x2.year)

2022

# Date time format

2022-09-15 09:30:59.735565
The date contains year, month, day, hour, minute, second, and microsecond.

# The strftime() Method

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [17]:
x3 = datetime.datetime.now()

print(x3.strftime("%A"))
print(x3.strftime("%a"))

Thursday
Thu

In [21]:
x4 = datetime.datetime.now()

print(x4.strftime("%y"),"year")
print(x4.strftime("%Y"),"years")

22 year
2022 years

In [22]:
x5 = datetime.datetime.now()

print(x5.strftime("%H"),"hour")
print(x5.strftime("%I"),"hour")
print(x5.strftime("%M"),"Mint")
print(x5.strftime("%S"),"seconds")

15 hour
03 hour
07 Mint
56 seconds

# Python Math

Python has a set of built-in math functions, including an extensive math module, 
that allows you to perform mathematical tasks on numbers.

# Bult - in - Math Function

In [ ]:
# min () this function get in list, tuple minimum Number

In [24]:
list1 = [76,23,87,5,989,12,3]
minimumele = min(list1)
print(minimumele)

3

In [27]:
tuple1 = (3,6,9,3,6543,3,56,7,2)
mini = min(tuple1)
print(mini)

2

In [28]:
# max () this function get in list,tuple max Number

In [29]:
list2 = [76,23,87,5,989,12,3]
maximum = max(list2)
print(maximum)

989

In [30]:
tuple2 = (76,3,87,5,99,12,3)
maxi = max(tuple2)
print(maxi)

99

In [35]:
# The abs() function returns the absolute (positive) value of the specified number:

# we are only put one value / argument
# only work tuple

In [49]:
tuple3 = (-89)
result90 = abs(tuple3)
print(result90)

89

In [38]:
list3 = [-89]
result90 = abs(list3)
print(result90)

TypeError: bad operand type for abs(): 'list'

In [ ]:
#  The pow(x, y) function returns the value of x to the power of y (xy).

In [39]:
print(pow(2,4))

16

In [40]:
a = 5
b = 4
output = pow(a, b)

print(output)

625

# The Math Module

Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

In [41]:
# The math.sqrt() method for example, returns the square root of a number:

In [45]:
import math

x = math.sqrt(625)

print(x)

25.0

In [46]:
25*25

625

# oops  concept

In [1]:
#  Q . what is oops in python

# ANS.  so mians oops object orianted progaraming 
#       in python sports oops , oop covers in real - world entities 

#  oops main topics
#  1.object   2.methode  3. class 4.inharitance  5. polymorephisem   6. incqupsulations

# 1. object

In [16]:
# Q. what is object

# ANS.  all ours you can see it in the world like objects
#                      or
#       object are specific instance of a class . called object

# Exa : -   phone , car , leaptop, pen, even it me a object

# Methods

In [ ]:
#  Methods are functions defined inside the body of a class. 
#  They are used to define the behaviors of an object.

In [11]:
class learning_method:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def sing (self,song):
        return "{} sing {}".format(self.name, song)
    
    def album(self):
        return "sing" 
    
    def sing_album(self):
        total_album = self.sing("ram ji ") + self. album()
        return total_album
l = learning_method("vicky",23)
print(l.sing("ram ram bol"))
print(l.album())
print(l.sing_album())

vicky sing ram ram bol
sing
vicky sing ram ji sing

# 3. Class

In [17]:
# Q. what is class

# ANS. a class cllections of objects . so called is a class
#                    or
#      class is a tamplate / blue print for real - world entities

# Note :- class is a user difaine data type

# Exa :-               Phone 

#          properties           behavior

#             color           make a call
#             bettery         play the game

In [18]:
# codeing Example

In [2]:
# create a empty class

class My_class:
    pass

In [13]:
class Phone:
    def make_call(self):
        print("calling")
    def play_game(self):
        print("playing the game")
        
p1 = Phone()
p1.make_call()
p1.play_game()

calling
playing the game

In [21]:
#  Example with paramitter

In [25]:
class Phones:
    def show_color(self,color):
        print(color)
        
    def show_cost(self,cost):
        print(cost)
    
p2 = Phones()
p2.show_color("red")
p2.show_cost(500)

red
500

In [8]:
class Car ():
    def __init__(self,color,brack,name):
        self.name= name
        self.color=color
        self.brack=brack
    
c1 = Car(name = "Bmw",color = "red",brack = "lader")
c1.name

'Bmw'

#  inheritance

In [3]:
# what is inheritance in python

# ANS. a perant class proparties use it chailed class 
#                       or 
#      with inheritance one class can derive properties of another class

# Exa :- perant to chailed

In [74]:
# code inheritance

class Vihecal:
    def __init__(self, model_name, price):
        self.model_name = model_name
        self.price = price
        
    def show_details(self):
        print("it is vehecal")
        print("model name ", self.model_name)
        print("price", self.price)
v1 = Vihecal("BMW",500)
v1.show_details()

it is vehecal
model name  BMW
price 500

In [16]:
v2 = Vihecal("neno", 400)
v2.show_details()

it is vehecal
model name  neno
price 400

In [20]:
class Car (Vihecal):
    def show_details(self):
        print("i am a car")
        print("this is {} my car ".format(self.model_name))
        
c1 = Car("TATA", 900)
c1.show_details()
c1.model_name

i am a car
this is TATA my car

'TATA'

In [22]:
c2 = Car("belano", 590)
c2.show_details()

i am a car
this is belano my car

# over - riding  init method

In [75]:
class Car (Vihecal):
    def __init__(self, tyre,hp):
        super(). __init__(model_name, price)
       # self.model_name = model_name
        self.tyre = tyre
        self.hp = hp
    def show_details(self):
        print("i am a car")
       # print(self.model_name)
        print("tyre", self.tyre)
        print("hp", self.hp)
        
c3 = Car("volvo",20000,6,400)
c3.show_details()

TypeError: Car.__init__() takes 3 positional arguments but 5 were given

In [13]:
c3.show_car_details()

i am a car
tyre 6
hp 400

# overloding

In [61]:
class student12:
    def all_details(self, name = "",address = ""):
        print(name + " is a good boy")
        print(address)
stuobj = student12()
stuobj.all_details("vicky","jaipur")

vicky is a good boy
jaipur

# over raiding

In [80]:
class student13:
    def all_details(self):
        print("ramu is a good boy")
        
stuobj = student13()
stuobj.all_details()

ramu is a good boy

In [81]:
class students(student13):
    
    def all_details(self):
        super().all_details()
        print("hi i am vikas kumar saini")
stuobj = students()

stuobj.all_details()

ramu is a good boy
hi i am vikas kumar saini

# Multiple Inheritance

In [5]:
 # what is multiple inheritance in python

# ANS. two perant(super class) class proparties use it chailed class 
#                       or 
#      with inheritance two class can derive properties of another class

# Exa :- two perant to chailed

In [36]:
class perant1:
    def __init__(self, name, mobile):
        self.name = name
        self.mobile = mobile
        
    def sow_all(self):
        print(self.name)
        print(self.mobile)
        
p1 = perant1("vicky" ,9509582321)
p1.sow_all()

vicky
9509582321

In [39]:
class perant2:
    def __init__(self, address, roll):
        self.address = address
        self.roll = roll
        
    def sow_alls(self):
        print(self.address)
        print(self.roll)
        
p2 = perant2("jaipur",444)
p2.sow_alls()

jaipur
444

In [76]:
class chaild(perant1,perant2):
    def 
    def sow_alls1(self):
        print(self.name)
        print(self.mobile)
        print(self.address)
        print(self.roll)
cha = chaild("ram", 345678,"jaipur",345)
cha.sow_alls1()

TypeError: perant1.__init__() takes 3 positional arguments but 5 were given

# Decorators in python

* What is Decorator
* Prerequisites for Decorators
* Creating Decorators
* Why Decorators are used OR
* When to use Decorators with Example 
* Metaprogramming

* what is Decorator

==> A decorator is a design pattern in Python that allows a user to add new functionality to an
    existing object without modifying its structure. Decorators are usually called before the         definition of a function you want to decorate

* Prerequisites

we must know following basics before creating decorators

* Defining Functions
* Functions are objects
* Assigning Function to Variables
* Defining function inside other function (Nested Function)
* Passing function as arguments to another function
* Function returning other function

* Rules for Decorators

* Decorators must be prefixed with @
* Decorator function must be placed above the definition og the function to be decorated.
* Without nested finction decorators can't be created.

In [37]:
def big(function0):
    return function0.upper()

def display(func):
    function = func("i am from jaipur rajasthan")
    return function
display(big)

'I AM FROM JAIPUR RAJASTHAN'

In [1]:
def big1(fun0):
    return fun0.upper()
def small(fun1):
    return fun1.lower()

def display0(function):
    return function("I AM A GOOD BOY")

#display0(big1)
display0(small)

'i am a good boy'

In [29]:
def lower0(func):
    def inner1():
        result = func()
        return result.lower()
    return inner1

def display1():
    return "I AM A GOOD BOY"
ram = lower0(display1)
ram()

i am a good boy

In [42]:
# this is use decorator

def lower1(fun):
    def inner0():
        print("In decorator inner function")
        
        return fun().lower()
    return inner0

def upar(fun34):
    def inner1():
        resu = fun34().upper()
        return resu
    return inner1
@lower1
def disp():
    print("In business ligic fun")
    return "I HAVE 2 YEARS OF EXPRIANCE"

print(disp())

@upar
def bigbe():
    return "ram sita janki jay bolo hanuman ki"
bigbe()

In decorator inner function
In business ligic fun
i have 2 years of expriance

'RAM SITA JANKI JAY BOLO HANUMAN KI'

In [60]:
def decor(func23,*args):
    def wrapper(*args):
        print("hello ji")
        result1 = func23(*args)
        print("ok then byeee")
        return result1 - 2
    return wrapper

@decor
def addition(x,y):
    
    return x+y
@decor
def subtraction(x,y):
    print(x - y)

result = addition(10,5)
print("final ans :-",result)
#subtraction(10,5)

hello ji
ok then byeee
final ans :- 13

In [1]:
 def mk(x):
    def mk1():
        print("Decorated")
        x()
    return mk1
def mk2():
    print("Ordinary")
p = mk(mk2)
p()

Decorated
Ordinary

# Iterators in Python

* What is iterators

=>In Python, an iterator is an object used to iterate over iterable objects
  such as lists, tuples, dictionaries, and sets. An object is called iterable
  if  we can get an iterator from it or loop over it.

or

An iterator is an object that contains a countable number of values.
An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.


Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

In [38]:
iteratble = [2,2,1,3,4,5,6,7,8,9]
obj = iter(iteratble)
print(obj)
print(next(obj))
print(next(obj))
print(next(obj))

<list_iterator object at 0x000001A6FE414130>
2
2
1

In [39]:
########



####
print(next(obj))




######

#####

print(next(obj))

3
4

# Gerator in python

What is Genrators

=>  Simply speaking, a generator is a function that returns an object (iterator) 
    which we can iterate over (one value at a time)
                         
                         or
                         
    genrator is a function so return a object help the yield function

In [41]:
def genrator(a):
    add = a + 2
    yield add
    
result = genrator(2)
print(result)

<generator object genrator at 0x000001A6FEE1D190>

In [47]:
def gen (lts):
    for i in lts:
        yield i + 2
        
price_list = [23,3,8,98,44]
result = gen(price_list)
#print(type(result))
#print(result)
print(next(result))
print(next(result))
print(next(result))
# print(next(result))


# print(list(result))

for d_p in result:
    print(d_p)

25
5
10
100
46

# RegEx

Regular Expression

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

Import the re module

Reg Ex Functions

1. findall  2. search  3. split  4. sub

1. findall

The findall() function returns a list containing all matches.

In [8]:
import re

mystr = "hi i am vikash kumar saini and i am from jaipur rajasthan  ai ndkfnv  ai "

rev = re.findall("ai",mystr)
rev

['ai', 'ai', 'ai', 'ai']

In [12]:
mystr1 = """ If Django is installed, you should see the version of your installation. If it isn’t, you’ll get an error telling “No module named django”.

This tutorial is written for Django 4.0, which supports Python 3.8 and later. If the Django version doesn’t match, you can refer to the tutorial for your version of Django by using the version switcher at the bottom right corner of this page, or update Django to the newest version. If you’re using an older version of Python, check What Python version can I use with Django? to find a compatible version of Django.

See How to install Django for advice on how to remove older versions of Django and install a newer one."""



result = re.findall("lalu ji", mystr1)
print(len(result),result)

if result:
    print("yes it is match")
    
else:
    print("No match")

0 []
No match

2  search() Function

The search() Function
The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

In [30]:
mystr2 = "If Django is installed, you should see the version of your installation. If it isn’t, you’ll get an error Telli"


rev = re.search("If .*Telli", mystr2)
print(rev)

if rev:
    print(True)
else:
    print(False)

<re.Match object; span=(0, 111), match='If Django is installed, you should see the versio>
True

# The split() function

The split() function returns a list where the string has been split at each match:

In [ ]:
mystr1 = """ If Django is installed, you should see the version of your installation. If it isn’t, you’ll get an error telling “No module named django”.

This tutorial is written for Django 4.0, which supports Python 3.8 and later. If the Django version doesn’t match, you can refer to the tutorial for your version of Django by using the version switcher at the bottom right corner of this page, or update Django to the newest version. If you’re using an older version of Python, check What Python version can I use with Django? to find a compatible version of Django.

See How to install Django for advice on how to remove older versions of Django and install a newer one."""