# Python

# Questions

In [ ]:
# columns=['State','City','Population']
# datalist=[['Karanataka','Bengaluru','80'],
# ['Karanataka','Mangalore','10'],
# ['Karanataka','Hassan','10'],
# ['Kerala','Kochi','40'],
# ['Kerala','Palakkad','56'],
# ['TamilNadu','Madras','30']]

# list1 = [('English',188), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
# length = len(list1)

# for i in reange(0,length):
#     for j in range(0,length-i-1):
#         if (list1[j][j] > list1[j+1][1]):

# intezer_no = "vikash"
# print(intezer_no[::-1])

#Sep 28 2022

import datetime

date1 = datetime.datetime.now()
print(date1.strftime("%b"),date1)

In [ ]:
# Input: arr[] = {1, 4, 20, 3, 10, 5}, sum = 33
# Output: Sum found between indexes 2 and 4
# Explanation: Sum of elements between indices 2 and 4 is 20 + 3 + 10 = 33df

Q. 1 given a list and expected output sorted elements 

input:-

list1 = [('English',188), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

output:-
    
[('Social sciences', 82),('Science', 90),('Maths', 97),('English',188)]

Ans. :-

In [4]:
list1 = [('English',188), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

for ele in list1:
    for ele2 in ele: